.motivacional {
    text-align: center;
}
.andreza {
    text-align: center;
}
.rafael {
    text-align: center;
}
.guigas {
    text-align: center;
}
.livia {
    text-align: center;
}
.gabriel {
    text-align: center;
}
.lucas {
    text-align: center;
}
.andressa {
    text-align: center;
}
.marcelo {
    text-align: center;
}
.laurytha {
    text-align: center;
}
